/* Place your CSS styles in this file */

*{
   margin: 0px;
   padding: 0px;
   font-family: Bodoni MT;
}

body{
   background-image: url(background.jpg);
}

header{
   background: #0D0F30;
   padding: 20px;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: #0D0F30;
    color: #C8A2C8;
}

ul li.active a{
    background-color: #0D0F30;
    color: #C8A2C8;
}

.logo img{
    width: 250px;
    height: auto;
}